<div class="about row">

    <div class="col-md-12">

       <h2>About me </h2>

       <p>
          第一次在Github Pages上搭建博客，博客fork的是偶然看到的以为老前辈的博客<a href="http://www.ityouknow.com/">纯洁的微笑</a>本人是一枚萌新程序猿，博文会偏技术向，希望能与大家一起进步。
       </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>
      
        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>